/* custom css */
.custom-users {position: relative;}
.custom-users .portfolio-item {width: 17%; float: left; margin-bottom: 0px; position: relative; list-style:none; padding:20px; margin: 0px 15px;}
.custom-users .portfolio-item .image {
    position: relative;
    border: 3px solid green;
    border-radius: 25px;
}
.custom-users .portfolio-item .image .text {background-color: rgba(0,0,0,0.5); position: absolute; bottom: 0px;
                                            right: 0px; left: 0px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; padding-left: 10px;
                                            color: #fff; font-size: 14px; text-align: center;cursor: default;top: 79%;
    padding-top: 0%;
}

.custom-users .portfolio-item .hidden-text {display: none; position: absolute; left: 0px;}

.text-info {width: 100%; display: none; clear: both; overflow: hidden; padding-top: 1px; margin-bottom: 1px; position: relative;background:#f7f7f7;}

.custom-users .portfolio-item .image img {
    width: 100%;
    height: 140px;
	  border-radius: 23px;
}
.portfolio-item.arton.bulgaria.open .arrow-down {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid #f7f7f7;
    z-index: 1;
    margin-top: -20px;
}
li.text-info {
    background: #fff;
}
.left .border-div img {
    width: 100%;
}
.portfolio-item.arton.bulgaria.open .image{
	background:#eee;
}
img.down-arr {
    width: 30px;
    padding: 0px;
    margin-left: 11px;
    padding-bottom: 3px;
}
li.ClientLog {
list-style: none;
    width: 16%;
    float: left;
    display: flex;
    margin: 20px 20px 20px 20px;
    text-align: center;
    border: 1px solid green;
    border-radius: 25px;
    padding: 5px 0px;

}
 /**form-section**/
 .form-Sec {
    padding-bottom: 20px;
}
.form-Sec input {
    height: 55px;
    border-radius: 10px;
    border: 1px solid #ccc;
	background: #fbfbfb;
	letter-spacing:2px;
	  font-family: 'aquiline_bookregular';
}

form.Send-MessageForm {
    background: #fff;
    padding: 35px 40px;
    width: 500px;
    border: 1px solid #fff;
    border-radius: 25px;
    margin-left: 30px;
	margin-bottom: 5px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	    font-family: 'aquiline_bookregular';
		font-size:16px;
	letter-spacing:2px;
}
form.Send-MessageForm h3 {
    margin: 5px;
	color:#0984e3;
	font-size:40px;
}
form.Send-MessageForm span {
    margin: 0px 0px 35px 0px;
    display: inline-block;
	font-size:16px;
}
textarea {
  resize: none;
}
::placeholder{
	font-size:16px;
	letter-spacing:2px;
	  font-family: 'aquiline_bookregular';
}
.form-Sec textarea {
    height: 120px;
	 border-radius: 10px;
    border: 1px solid #ccc;
    background: #fbfbfb;
	letter-spacing:2px;
	  font-family: 'aquiline_bookregular';
}
form.Send-MessageForm button {
    background: #00cc99 ;
	border:1px solid #00cc99;
    padding: 10px 40px;
	font-size:20px;
	border-radius:10px;
}
.Would-Prt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-Part h2 {
		color:#0984e3;
}
h4.tit.text-center {
    font-size: 16px;
    font-weight: 200;
	line-height: 1.5;
	font-family: 'aquiline_bookregular';
}
.cont-Part {
    padding-right: 30px;
}
.grey-diagonal-section-wrapper.new-Grey {
    background: #f3f2f2;
    transform: skewY( 0deg );
}


@media only screen and (max-width: 950px) {
    .custom-users .text-info .left { min-width: 269px; }
}
@media only screen and (max-width: 768px) {

    .custom-users .portfolio-item, .custom-users .text-info .left {min-width: 100%;}
    .custom-users .text-info .left {margin-bottom: 0px; padding: 30px;}
  	.custom-users .text-info .left {width: 90%; padding: 5%; text-align: left;}
}

li.portfolio-item.arton.bulgaria.open .hidden-text{
	display:block;
}




/* needed for effect */
/* .popover-content { */
	/* display: none; */
/* } */


/* .popover { */
	/* -moz-box-shadow: 0 0 8px #5b7d83; */
	/* -webkit-box-shadow: 0 0 8px #5b7d83; */
	/* box-shadow: 0 0 8px #5b7d83; */
	/* max-width:calc(60% - 20px) !important; */
	/* width: calc(60% - 20px) !important; */
	/* margin:5px auto !important; */
	/* left:0 !important; */
	/* right:0 !important; */
/* } */
/* .popover img{ */
	/* height:550px; */
	/* display:block; */
	/* margin:0 auto!important; */
/* } */
/* .popover-content img { */
    /* width: 100%; */

/* } */
/* .popover-content { */
    /* width: 100%; */
/* } */
/* .row.block_1.grade button { */
    /* background: transparent; */
    /* padding: 0px; */
    /* width: 17%; */
    /* float: left; */
    /* margin: 19px; */
    /* border: 1px solid green; */
    /* border-radius: 25px; */
	 /* position: relative; */
/* } */
/* .row.block_1.grade button img{ */
	/* border: 1px solid green; */
    /* border-radius: 25px; */
/* } */
/* .popover.my-popover .arrow { */
    /* left: 30% !important; */
/* } */
/* .popover .arrow { */
  /* position: absolute!important; */
  /* width: 100px!important; */
  /* height: 100px!important; */
  /* margin:0px 90px 0px 0px !important; */
/* } */


/* .overlay { */
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  /* height: 100%; */
  /* width: 100%; */
  /* opacity: 0; */
  /* transition: .5s ease; */
 /* background-color: rgb(0 0 0 / 40%); */
  /* border-radius:25px; */
/* } */
/* .row.block_1.grade button:hover .overlay { */
  /* opacity: 1; */
/* } */
/* .grey-diagonal-section-wrapper.grade-dia-sec-wrpa { */
    /* padding: 69px 0px 0px 0px; */
/* } */
/* .grey-diagonal-section-container.opacity-fade-in-container.grade-diagonal { */
    /* padding-bottom: 80px; */
/* } */
/* .popover .arrow::after{ */
	/* left:0px !important; */
/* } */
/* .popover .arrow::before{ */
	/* left:0px !important; */
/* } */

/* .popover.bottom > .arrow { */
  /* top: -11px; */
  /* left: 50%; */
  /* margin-left: -11px; */
  /* border-top-width: 0; */
  /* border-bottom-color: #999; */
  /* border-bottom-color: rgba(0, 0, 0, .25); */
/* } */
/* .popover.bottom > .arrow:after { */
  /* top: 1px; */
  /* margin-left: -10px; */
  /* content: " "; */
  /* border-top-width: 0; */
  /* border-bottom-color: red; */
/* } */

/* Base styling*/


/* Popover styling */
.scholl-grade-View .popover__title {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 15px 0;
  padding: 0px;
  margin: 0px;
}

.scholl-grade-View .popover__wrapper_box {
    position: relative;
    width: 12%;
    float: left;
    padding: 0px;
    border: 3px solid green;
    margin: 10px 40px 50px 17px;
    border-radius: 25px;
}
.scholl-grade-View .popover__content {
 visibility:hidden;
  position: absolute;
  left: 30px;
  transform: translate(0, 10px);
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: 1100px;
  top:182px;
}
.scholl-grade-View .popover__title img{
	border-radius: 23px;
	    height: 150px;
		    filter: grayscale(100%);
}
.scholl-grade-View .popover__content img {
    width: 100%;
}
.scholl-grade-View .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(96% - 10px);
    top: -18px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #fff transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}
.scholl-grade-View .popover__wrapper_box:hover .popover__title img {
	 filter: grayscale(0%);
}
.scholl-grade-View .popover__wrapper_box:hover  .popover__content {
  z-index: 10;
   visibility:visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);

}
.scholl-grade-View .popover__message {
  text-align: center;
}
.scholl-grade-View .popover__content.contpop_2{
      left: -175px;
}
.scholl-grade-View .popover__content.contpop_3{
        left: -378px;
}
.scholl-grade-View .popover__content.contpop_4{
      left: -593px;
}
.scholl-grade-View .popover__content.contpop_5{
        left: -802px;
}
.scholl-grade-View .popover__content.contpop_6{
        left: -1002px;
}
.scholl-grade-View .popover__content.contpop_2:before {
    right: calc(77% - 10px);
}
.scholl-grade-View .popover__content.contpop_3:before {
    right: calc(58% - 10px);
}
.scholl-grade-View .popover__content.contpop_4:before {
    right: calc(39% - 10px);
}
.scholl-grade-View .popover__content.contpop_5:before {
    right: calc(20% - 10px);
}
.scholl-grade-View .popover__content.contpop_6:before {
    right: calc(2% - 10px);
}
/* .scholl-grade-View .overlay { */
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  /* height: 100%; */
  /* width: 100%; */
  /* opacity: 0; */
  /* transition: .5s ease; */
  /* background-color: rgb(0 0 0 / 50%); */
    /* border-radius: 25px; */
/* } */
.scholl-grade-View .popover__wrapper_box:hover .overlay {
  opacity: 1;
    border-radius: 20px;
}
.Grade-Certifi {
    display: table;
    margin: 0 auto;
    margin-bottom: 40px;
}
section.grade-SECtion .h4-tit {
    font-size: 35px;
}
.grey-diagonal-section-wrapper.Shl-PRG_SEC {
    padding-bottom: 0px;
}

.grey-diagonal-section-wrapper.Shl-PRG_SEC1 {
    background: #f3f2f2;
    transform: skewY(0deg );
    padding: 20px 0 20px;
}
.grey-diagonal-section-wrapper .upper-stripes.up-STRIPES_Schl :nth-child(3) {
    z-index: 6;
    background-image: linear-gradient(to left, #f3f2f2 0%, #f1f1f1 100%);
    top: 50px;
    right: 0;
    height: 13px;
    width: calc(100% / 1);
}
.grey-diagonal-section-wrapper .upper-stripes.up-STRIPES_Schl :nth-child(2) {
    z-index: 1;
    background-image: linear-gradient(to left, #f3f2f2 0%, #f3f3f3 100%);
    opacity: 1;
    top: 68px;
    right: 0;
    height: 1px;
    width: calc(100% / 1);
}
.grey-diagonal-section-wrapper .upper-stripes.up-STRIPES_Schl :first-child {
    top: 68px;
    z-index: 1;
    right: 0;
    background: #f3f2f2;
    opacity: 1;
    height: 1px;
    width: calc(100% / 2);
}
.grey-diagonal-section-wrapper .upper-stripes.up-STripes :nth-child(3) {
    z-index: 1;
    background-image: linear-gradient(to left, #00cc99 8%, #f1f1f1 100%);
    top: -86px;
    right: 0;
    height: 46px;
    width: calc(100% / 3);
}
.grey-diagonal-section-wrapper .upper-stripes.up-STripes :nth-child(2) {
    z-index: 1;
    background-image: linear-gradient(to left, #f3f2f2 0%, #ffffff 100%);
    opacity: 0.8;
    top: -45px;
    right: 0;
    height: 46px;
    width: calc(86% / 3);
}
.grey-diagonal-section-wrapper .upper-stripes.up-STripes :first-child {
    top: -46px;
    z-index: 1;
    right: 0px;
    background: #f3f2f2;
    opacity: 0;
    height: 92px;
    width: calc(100% / 4);
}
.white-diagonal-section-wrapper .upper-stripes.Up-Stripes :nth-child(2) {
    z-index: 1;
    background-image: linear-gradient(to right, #fff 0%, #d7d7d7 100%);
    opacity: 0.35;
    top: -56px;
    left: 0;
    height: 56px;
    width: calc(100% / 5);
}
.white-diagonal-section-wrapper .upper-stripes.Up-Stripes :first-child {
    z-index: 1;
    background-image: linear-gradient(to left, #f3f2f2 0%, #ffffff 100%);
    opacity: 0.8;
    top: 39px;
    right: 0;
    height: 46px;
    width: calc(86% / 4);
}
.grey-diagonal-section-wrapper.Schl-Grade-Mrk-CErt{
position: relative;
    z-index: 999;
}
header{
	z-index: 9999;
}
@media screen and (max-width: 1681px) and (min-width: 1280px ){
	.scholl-grade-View .popover__content {
    width: 1110px;
}
/* .scholl-grade-View .popover__content.contpop_5 { */
    /* left: -887px; */
/* } */
/* .scholl-grade-View .popover__content.contpop_5:before { */
    /* right: calc(2% - 10px); */
/* } */
/* .scholl-grade-View .popover__content.contpop_4 { */
    /* left: -674px; */
/* } */
/* .scholl-grade-View .popover__content.contpop_4:before { */
    /* right: calc(23% - 10px); */
/* } */
/* .scholl-grade-View .popover__content.contpop_3 { */
    /* left: -400px; */
/* } */
/* .scholl-grade-View .popover__content.contpop_3:before { */
    /* right: calc(50% - 10px); */
/* } */
.cont-Part h2 {
    font-size: 35px;
}
form.Send-MessageForm {
    padding: 30px 35px;
    width: 470px;
}
}

@media screen and (max-width: 1279px) and (min-width: 1172px ){
		.scholl-grade-View .popover__content {
    width: 1015px;
}
.scholl-grade-View .popover__content.contpop_6 {
    left: -925px;
}
.scholl-grade-View .popover__content.contpop_5 {
    left: -732px;
}
.scholl-grade-View .popover__content.contpop_5:before {
    right: calc(20% - 10px);
}
.scholl-grade-View .popover__content.contpop_4 {
    left: -544px;
}
.scholl-grade-View .popover__content.contpop_4:before {
    right: calc(39% - 10px);
}
.scholl-grade-View .popover__content.contpop_3 {
    left: -357px;
}
.scholl-grade-View .popover__content.contpop_3:before {
    right: calc(58% - 10px);
}
.scholl-grade-View .popover__content.contpop_2 {
    left: -165px;
}
.scholl-grade-View .popover__wrapper_box {
    width: 11.666%;
}
}
@media screen and (max-width: 1171px) and (min-width: 1025px ){
	.container.scholl-grade-View {
    max-width: 100%;
}
.scholl-grade-View .popover__content {
    width: 860px;
	top: 162px;
}
.scholl-grade-View .popover__wrapper_box {
    margin: 10px 32px 50px 17px;
	    width: 11.666%;
}
.scholl-grade-View .popover__content.contpop_6 {
    left: -793px;
}
.scholl-grade-View .popover__content.contpop_5 {
    left: -630px;
}
.scholl-grade-View .popover__content.contpop_5:before {
    right: calc(19% - 10px);
}
.scholl-grade-View .popover__content.contpop_4 {
    left: -466px;
}
.scholl-grade-View .popover__content.contpop_4:before {
    right: calc(38% - 10px);
}
.scholl-grade-View .popover__content.contpop_2:before {
    right: calc(70% - 10px);
}
.scholl-grade-View .popover__content.contpop_3 {
    left: -298px;
}
.scholl-grade-View .popover__content.contpop_3:before {
    right: calc(58% - 10px);
}
.scholl-grade-View .popover__content.contpop_2 {
    left: -135px;
}
.scholl-grade-View .popover__content.contpop_2:before {
    right: calc(77% - 10px);
}
section.grade-SECtion .h4-tit {
    font-size: 25px;
}
form.Send-MessageForm {
    width: 430px;
}
form.Send-MessageForm h3 {
    font-size: 30px;
}
.scholl-grade-View .popover__title img {
     height: auto; 
}
.school_Logo .container {
    width: 100%;
	    max-width: 100%;
}
li.ClientLog {
    margin: 20px 15px 20px 15px;
}
}
@media screen and (max-width: 1024px) and (min-width: 992px ){
	.container.scholl-grade-View {
    max-width: 100%;
}
.scholl-grade-View .popover__wrapper_box {
    margin: 6px 30px 50px 15px;
	    width: 11.66%;
}
.scholl-grade-View .popover__content {
    width: 840px;
	top: 150px;
}
.scholl-grade-View .popover__content.contpop_4 {
    left: -453px;
}
.scholl-grade-View .popover__content.contpop_4:before {
    right: calc(39% - 10px);
}
.scholl-grade-View .popover__content.contpop_5 {
    left: -611px;
}
.scholl-grade-View .popover__content.contpop_5:before {
    right: calc(20% - 10px);
}
.scholl-grade-View .popover__content.contpop_3 {
    left: -291px;
}
.scholl-grade-View .popover__content.contpop_3:before {
    right: calc(58% - 10px);
}
.scholl-grade-View .popover__content.contpop_2 {
    left: -127px;
}
.scholl-grade-View .popover__content.contpop_6 {
    left: -769px;
}
.scholl-grade-View .popover__content.contpop_6:before {
    right: calc(2% - 10px);
}
form.Send-MessageForm {
    width: 435px;
    margin-left: 20px;
}
form.Send-MessageForm h3 {
    font-size: 26px;
}
li.ClientLog {
    width: 16%;
	 margin: 10px 15px 10px 15px;
}

.image p {
font-size: 13px;}

.scholl-grade-View .popover__title img {
     height: auto; 
}
.school_Logo .container {
    width: 100%;
	    max-width: 100%;
}
.image p {
    font-size: 13px;
}
}
@media screen and (max-width: 991px) and (min-width: 768px ){
.scholl-grade-View .popover__content {
    width: 540px;
    left: 8px;
	top: 108px;
}
.scholl-grade-View .popover__content:before {
    right: calc(93% - 10px);
}
form.Send-MessageForm {
    width: 420px;
}
.scholl-grade-View .popover__wrapper_box {
    width: 12%;
    margin: 10px 15px 40px 10px;
}
.scholl-grade-View .popover__content.contpop_2 {
    left: -90px;
}
.scholl-grade-View .popover__content.contpop_2:before {
    right: calc(75% - 10px);
}
.scholl-grade-View .popover__content.contpop_3 {
    left: -189px;
}
.scholl-grade-View .popover__content.contpop_3:before {
    right: calc(57% - 10px);
}
.scholl-grade-View .popover__content.contpop_4 {
    left: -286px;
}
.scholl-grade-View .popover__content.contpop_4:before {
    right: calc(39% - 10px);
}
.scholl-grade-View .popover__content.contpop_5 {
    left: -381px;
}
.scholl-grade-View .popover__content.contpop_5:before {
    right: calc(21% - 10px);
}
.scholl-grade-View .popover__content.contpop_6 {
    left: -483px;
}
form.Send-MessageForm h3 {
    font-size: 30px;
}
li.ClientLog {
    width: 28%;
	margin: 15px 15px 15px 15px;
}
p.Phone-Txt {
    padding: 10px 0px;
}
h5.center-Text {
    padding-top: 10px;
}
.scholl-grade-View .popover__title img {
     height: auto; 
}
.school_Logo .container {
    width: 100%;
	  max-width: 100%;
}
ul.client-Logo {
    padding: 0px;
}
}
@media screen and (max-width: 767px) and (min-width: 320px ){
	form.Send-MessageForm {
    padding: 25px 20px;
    width: 100%;
    border-radius: 25px;
    margin-left: 0px;
}
.scholl-grade-View .popover__content {
    width: 245px;
	padding: 2px;
	top: 145px;
}
.scholl-grade-View .popover__wrapper_box {
    width: 46%;
    margin: 10px 5px 20px 4px;
}
.scholl-grade-View .popover__content:before,  .scholl-grade-View .popover__content.contpop_3:before, .scholl-grade-View .popover__content.contpop_5:before{
    right: calc(73% - 10px);
}

.scholl-grade-View .popover__content,.scholl-grade-View .popover__content.contpop_3,.scholl-grade-View .popover__content.contpop_5{
    left: -15px;
}
.scholl-grade-View .popover__content.contpop_2:before,  .scholl-grade-View .popover__content.contpop_4:before, .scholl-grade-View .popover__content.contpop_6:before{
    right: calc(25% - 10px);
}

.scholl-grade-View .popover__content.contpop_2,.scholl-grade-View .popover__content.contpop_4,.scholl-grade-View .popover__content.contpop_6{
    left: -128px;
}
.scholl-grade-View .popover__content img {
    height: auto;
}
section.grade-SECtion .h4-tit {
    font-size: 25px;
}
form.Send-MessageForm h3 {
    margin: 3px;
    font-size: 18px;
}
.grey-diagonal-section-wrapper.Shl-PRG_SEC .container {
    width: 100%;
    max-width: 100%;
}
li.ClientLog {
width: 100%;
    margin: 10px 5px;
}
ul.client-Logo {
    padding: 0px;
}
.scholl-grade-View .popover__title img {
    height: auto;
}
p.Phone-Txt {
    padding: 10px 0px;
}
h5.center-Text {
    padding-top: 10px;
}
.school_Logo .container {
    width: 100%;
}
}
@media screen and (max-width: 767px) and (min-width: 540px ){
	.scholl-grade-View .popover__wrapper_box {
    width: 44%;
    
}
li.ClientLog {
    width: 44%;
	   margin: 10px 12px;
}
.scholl-grade-View .popover__content {
    width: 428px;
    padding: 2px;
    top: 195px;
}
.scholl-grade-View .popover__content.contpop_2, .scholl-grade-View .popover__content.contpop_4, .scholl-grade-View .popover__content.contpop_6 {
    left: -227px;
}
}
@media screen and (max-width: 539px) and (min-width: 420px ){
	.scholl-grade-View .popover__content {
    width: 332px;
    padding: 2px;
    top: 184px;
}
.scholl-grade-View .popover__content.contpop_2, .scholl-grade-View .popover__content.contpop_4, .scholl-grade-View .popover__content.contpop_6 {
    left: -170px;
}
}

.image {
    width: 150px;
    /* border: 1px solid #007bff70; */
    height: 200px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    /* background: #007bff70; */
    margin: 0 auto;
	filter: grayscale(100%);
}
.image:hover{
	filter: grayscale(0%);
}
.image:hover p{
	filter: grayscale(0%);
	color:green;
}
.banner.home.h_ban.certificate-pge-baner {
    background: url(../images/certificate/banner-part.png) no-repeat;
    background-size: cover;
    background-position: top right;
}
.banner-conT {
    text-align: left;
	margin-top: 8%;
}
.banner-conT h1, .banner-conT h2 {
    text-align: left;
    line-height: 1.5;
    margin: 5px 0px !important;
    word-break: break-word;
    width: 480px;
}
/**contact-us**/
h4.Ad-bold-Text {
    margin-bottom: 10px;
	font-size: 20px;
}
h4.Ad-bold-Text img {
    display: inline-block;
    width: 35px;
    margin: 0px 10px 0px 0px;
}
img.tel-img {
    width: 25px;
    margin-right: 6px;
    filter: invert(1);
}
/**certificate**/

.image p {
    font-size: 14px;
	padding: 0px;
    margin: 0px;
	font-family: 'aquiline_bookbold';
	text-transform: capitalize;
}
.image p.city-details {
    font-size: 13px;
	font-family: 'aquiline_bookregular';
}
/***google-colab***/
.banner.home.h_ban.colab_banner{
    background-image: url(../images/GoogleColab/r-banner.jpg);
    background-position: center center;
}
.play_icon.hm.colob_playicon {
    margin: 33vh auto 0;
    transform: translateY(-50%);
}

/***partnership***/
section.section.addcomments.topspace.home_sec.partnership_Logo {
    background: #f3f2f2;
}
.grey-diagonal-section-wrapper.Shl-part_SEC1 {
    background: #fff;
    transform: skewY(
0deg
 );
    padding: 20px 0 20px;
}
.grey-diagonal-section-wrapper .upper-stripes.up-STRIPES_part :nth-child(3) {
    z-index: 6;
    background-image: linear-gradient(to left, #fff 0%, #fff 100%);
    top: 50px;
    right: 0;
    height: 13px;
    width: calc(100% / 1);
}
.grey-diagonal-section-wrapper .upper-stripes.up-STRIPES_part :first-child {
    top: 68px;
    z-index: 1;
    right: 0;
    background: #fff;
    opacity: 1;
    height: 1px;
    width: calc(100% / 2);
}
.grey-diagonal-section-wrapper .upper-stripes.up-STRIPES_part :nth-child(2) {
    z-index: 1;
    background-image: linear-gradient(to left, #fff 0%, #fff 100%);
    opacity: 1;
    top: 68px;
    right: 0;
    height: 1px;
    width: calc(100% / 1);
}